.card_demonstracao_pagina {
    background-color: #ECEFF1;
    border-radius: 12px;
    width: 675px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    cursor: grab;
}

.card_demonstracao_pagina:active {
  cursor: grabbing;
}

.card_demonstracao_pagina_imagem img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid #37474F;
}

.card_demonstracao_pagina_texto {
    padding: 20px 0 20px 12px;
}

.card_demonstracao_pagina_texto p {
    font-size: 14px;
}