.menu{
  width: 300px;
  height: auto;
  background-color: var(--cor-principal);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 20px 30px;
  box-sizing: border-box;
}

.menu_logo{
  display: flex;
  justify-content: center;
}

.menu_logo > h2 {
  font-size: 40px;
  font-weight: 400;
}

.menu_nav {
  margin-top: 45px;
  flex-grow: 1;
}

.menu_nav > p{
  font-size: 16px;
  color: #CFD8DC;
}

.menu_section_2 {
  margin-top: 45px;
}

.menu_nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.menu_nav > ul > li > button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #FFFFFF;
  font-family: var(--fonte-principal);
  position: relative;
  transition: all 0.3s ease;
}

.menu_nav > ul > li > button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #FFFFFF;
  transition: width 0.3s ease;
}

.menu_nav > ul > li > button:hover::before {
  width: 4px;
}

.menu_nav > ul > li > button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 7px 0 10px;
}

.menu_nav > ul > li > button:hover::after {
  width: 100%;
}

.menu_nav > ul > li > button > img {
  width: 30px;
  height: auto;
}

.menu_footer {
  display: flex;
  gap: 2px;
}

.menu_footer > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu_footer > button > img {
  width: 30px;
  height: auto;
}

.menu_footer > img {
  width: 30px;
  height: auto;
}

.menu_footer > button:hover img {
  filter: brightness(0.9);
  transform: scale(1.1);
  transition: transform 0.2s ease, filter 0.2s ease;
}

/* BOTÃO HAMBÚRGUER */
.menu_hamburger {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: var(--cor-principal);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease
}

.menu_hamburger:hover {
  background-color: #455A64;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.menu_hamburger > img {
  width: 30px;
  height: auto;
}

/* SOMBRA ESCURA ATRÁS DO MENU */
.menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

/* RESPONSIVO */
@media (max-width: 1810px) {
.menu{
  width: 270px;
}

.menu_logo > h2 {
  font-size: 35px;
}

}

@media (max-width: 1330px) {
  .menu{
    width: 250px;
  }

  .menu_logo > h2 {
    font-size: 32px;
  }
}

@media (max-width: 1260px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;
  }

  .menu_aberto {
    transform: translateX(0);
  }

  .menu_hamburger {
    display: block;
  }

  .menu{
    width: 300px;
  }
}