.card_funcionalidade {
    background-color: white;
    width: 500px;
    padding: 35px 20px 30px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid transparent;
    transition: transform 0.2s ease, border 0.2s ease, box-shadow 0.3s ease;
}

.card_funcionalidade:hover {
    transform: translateY(-2px);
    border: 2px solid #B0BEC5;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.card_funcionalidade_img {
    width: 250px;
    height: 180px; /* altura fixa para todas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_funcionalidade_img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* garante que não distorça */
}

.card_funcionalidade div {
    width: 100%;
}

.card_funcionalidade div h4 {
    font-size: 20px;
    color: #37474F;
}

.card_funcionalidade div p {
    font-size: 16px;
    color: #607D8B;
    margin-top: 5px;
}

@media(max-width: 675px) {
    .card_funcionalidade {
        width: 550px;
        padding: 35px 20px 30px 20px;
    }
}

@media(max-width: 550px) {
    .card_funcionalidade {
        max-width: 450px;
        width: 100%;
    }
}