.container_pagina_inicial button {
    font-family: var(--fonte-principal);
}

.pagina_inicial_cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.pagina_inicial_cabecalho > img {
    width: 60px;
    height: auto;
}

.pagina_inicial_cabecalho_botoes_entrar_cadastrar {
    display: flex;
    gap: 20px;
}

.pagina_inicial_cabecalho_btn_entrar {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: #37474F;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    width: 140px;
    transition: background-color 0.3s ease;
}

.pagina_inicial_cabecalho_btn_entrar:hover {
    background-color: #DDE1E4;
}

.pagina_inicial_cabecalho_btn_cadastrar {
    cursor: pointer;
    background-color: #37474F;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    width: 140px;
    transition: background-color 0.3s ease;
}

.pagina_inicial_cabecalho_btn_cadastrar:hover {
    background-color: #263238;
}

/* Apresentação */

.pagina_inicial_secao_apresentacao {
    padding: 65px 35px 100px 35px;
    display: flex;
    align-items: flex-start;
    gap: 70px;
}

.pagina_inicial_secao_apresentacao img {
    width: 100%;
    max-width: 900px;
    height: auto;
}

.pagina_inicial_secao_apresentacao > div > h1 {
    font-size: 42px;
    color: #37474F;
    width: 840px;
}

.pagina_inicial_secao_apresentacao > div > h2 {
    font-size: 30px;
    color: #607D8B;
    width: 840px;
    margin-top: 20px;
}

.pagina_inicial_secao_apresentacao_botoes {
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

.pagina_inicial_secao_apresentacao_botao_comece_agora {
    cursor: pointer;
    background-color: #37474F;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0;
    width: 260px;
    transition: background-color 0.3s ease;
}

.pagina_inicial_secao_apresentacao_botao_comece_agora:hover {
    background-color: #263238;
}

.pagina_inicial_secao_apresentacao_botao_funcionalidades {
    cursor: pointer;
    background-color: #607D8B;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0;
    width: 300px;
    transition: background-color 0.3s ease;
}

.pagina_inicial_secao_apresentacao_botao_funcionalidades:hover {
    background-color: #455A64;
}

/* Funcionalidade */

.pagina_inicial_secao_funcionalidades {
    background-color: #F0F4F5;
    padding: 65px 35px 100px 35px;
}

.pagina_inicial_secao_funcionalidades_textos h2 {
    color: #37474F;
    font-size: 32px;
}

.pagina_inicial_secao_funcionalidades_textos h3 {
    color: #455A64;
    font-size: 24px;
    margin-top: 10px;
}

.pagina_inicial_secao_funcionalidades_cards {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
}

.pagina_inicial_secao_funcionalidades_botao {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagina_inicial_secao_funcionalidades_botao button {
    cursor: pointer;
    background-color: #37474F;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0;
    width: 400px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagina_inicial_secao_funcionalidades_botao button:hover {
    background-color: #263238;
    transform: translateY(-2px);
}

/* Demonstrações */

.pagina_inicial_secao_demontracao {
    padding: 65px 35px 100px 35px;
    background-color: #FFFFFF;
}

.pagina_inicial_secao_descricao_textos h2 {
    color: #37474F;
    font-size: 32px;
}

.pagina_inicial_secao_descricao_textos h3 {
    color: #455A64;
    font-size: 24px;
    margin-top: 10px;
}

.pagina_inicial_secao_demontracao_cards {
    margin-top: 60px;
}

.pagina_inicial_secao_demontracao_carrossel {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
    padding-bottom: 40px; /* aumenta o espaço entre card e bolinhas */
    box-sizing: border-box;
}

.swiper-slide {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente, se quiser */
}

/* Botão do Swiper */
.swiper-button-next,
.swiper-button-prev {
  width: 90px;       /* largura do botão clicável */
  height: 30px;      /* altura do botão clicável */
  background: none;  /* remove fundo */
}

/* Pseudo-elemento que mostra a seta */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 40px;   /* controla o tamanho da seta */
  color: #37474F;    /* cor da seta */
}

.swiper-pagination-bullet {
    background: #ccc;
    opacity: 1;
    margin-top: 5px;
}

.swiper-pagination-bullet-active {
    background: #37474F;
}