.dashboard_main_minhas_tarefas{
  flex: 1;
  padding: 40px;
  background-color: #ECEFF1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard_main_minhas_tarefas > p {
  font-weight: bold;
  color: #000000;
}

.minhas_tarefas_container {
  background-color: white;
  width: 100%;
  max-width: 1485px;
  padding: 65px 35px 150px 35px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.minhas_tarefas_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filtros_minhas_tarefas_form{
  display: flex;
  gap: 12px;
  align-items: center;
}

.minhas_tarefas_filtro{
  display: flex;
  flex-direction: column;
  width: 270px;
  gap: 5px;
}

.minhas_tarefas_filtro > label {
  font-size: 16px;
}

.minhas_tarefas_filtro > input,
.minhas_tarefas_filtro > select {
  background-color:#FAFAFA;
  border: 1px solid #E0E0E0;
  font-family: var(--fonte-principal);
  font-size: 14px;
  padding: 5px 2px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.minhas_tarefas_filtro > input:focus,
.minhas_tarefas_filtro > select:focus {
  outline: none;
  border-color: #e5e5e5;
  box-shadow: 0 0 0 2px #d1d5db;
}

.minhas_tarefas_botoes_filtro {
  display: flex;
  gap: 12px;
}

.minhas_tarefas_botoes_filtro > button {
  background-color: #37474F;
  padding: 10px 0;
  width: 270px;
  font-size: 16px;
  color: white;
  border: none;
  font-family: var(--fonte-principal);
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease
}

.minhas_tarefas_botoes_filtro > button:hover {
  background-color: #455A64;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.tabela_minhas_tarefas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  overflow: hidden;
}

.tabela_minhas_tarefas thead {
  background-color: #37474F;
  color: white;
}

.tabela_minhas_tarefas th,
.tabela_minhas_tarefas td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela_minhas_tarefas td {
    font-size: 15px;
}

.tabela_minhas_tarefas tbody tr:hover {
  background-color: #f5f5f5;
}

.tabela_minhas_tarefas td:last-child {
  text-align: center;
}

.tabela_minhas_tarefas td:nth-child(2),
.tabela_minhas_tarefas th:nth-child(2) {
  max-width: 250px;      /* limite da largura da coluna */
  white-space: normal;   /* permite quebra de linha */
  word-wrap: break-word; /* quebra palavras grandes */
}

.menu_minhas_tarefas_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu_minhas_tarefas_dropdown {
  position: absolute;
  right: 0; /* alinha na borda direita */
  top: 100%; /* abre pra baixo */
  background: #fff;
  border: 1px solid #ddd;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: 150px;
  overflow: hidden; /* arredondar também nas bordas internas */
}

.menu_minhas_tarefas_dropdown.open-up {
  bottom: 50%; /* abre pra cima */
  top: auto;
}

.menu_minhas_tarefas_dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid #eee;
  background: none;
  text-align: left;
  font-family: var(--fonte-principal);
  font-size: 14px;
  cursor: pointer;
}

.menu_minhas_tarefas_dropdown button:last-child {
  border-bottom: none;
}

.menu_minhas_tarefas_dropdown button:hover {
  background: #f5f7fa;
}

/*

RESPONSIVIDADE

*/

@media (max-width: 1810px) {
  .dashboard_main_minhas_tarefas {
    padding: 40px 30px;
  }
}

@media (max-width: 1250px) {
  .filtros_minhas_tarefas_form{
    gap: 7px;
  }

  .minhas_tarefas_botoes_filtro {
    gap: 7px;
  }

  .minhas_tarefas_botoes_filtro > button {
    width: 270px;
    font-size: 15px;
  }
}

@media (max-width: 970px) {
  .minhas_tarefas_filtro {
    width: 240px;
  }

  .minhas_tarefas_botoes_filtro > button {
    width: 240px;
  }
}

@media (max-width: 940px) {
  .dashboard_main_minhas_tarefas {
    padding: 40px 20px;
  }

  .minhas_tarefas_container {
    padding: 65px 25px 150px 25px;
  }
}

@media (max-width: 900px) {
  .dashboard_main_minhas_tarefas {
    padding: 40px 10px;
  }

  .minhas_tarefas_container  {
    padding: 65px 15px 150px 15px;
  }
}

@media (max-width: 860px) {
  .minhas_tarefas_container {
    padding: 65px 5px 150px 5px;
  }
}

@media (max-width: 825px) {
  .minhas_tarefas_container {
    padding: 45px 5px 100px 5px;
  }
}

@media (max-width: 790px) {
  .filtros_minhas_tarefas_form {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .minhas_tarefas_botoes_filtro {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .minhas_tarefas_botoes_filtro > button {
      width: 200px;
    }
}

@media (max-width: 760px) {
  .dashboard_main_minhas_tarefas > p {
    font-size: 15px;
  }

  .minhas_tarefas_botoes_filtro > button {
    width: 180px;
    font-size: 14px;
  }

  .tabela_minhas_tarefas th {
    font-size: 15px;
  }

  .tabela_minhas_tarefas td {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .dashboard_main_minhas_tarefas{
    padding: 40px 0;
  }

  .minhas_tarefas_container {
    width: 100%;
    max-width: 100%;
  }

  .dashboard_main_minhas_tarefas > p {
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .minhas_tarefas_botoes_filtro {
    gap: 10px;
  }

  .minhas_tarefas_botoes_filtro > button {
    width: 200px;
    font-size: 14px;
  }
}