.card_metas {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  width: auto;
  align-self: flex-start;
  padding: 15px 0px 65px 15px;
  box-sizing: border-box;
  margin-top: 40px;
}

.card_metas_titulo{
  display: flex;
  align-items: center;
  gap: 7px;
}

.card_metas_titulo > p {
  font-size: 18px;
}

.div_sem_metas {
  display: flex;
  justify-content: start;
  width: 100%;
}

.card_metas_lista {
  margin-top: 20px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.card_metas_link {
  margin-top: 15px;
}

.card_metas_link > button {
  background-color: transparent;
  border: none;
  font-family: var(--fonte-principal);
  font-size: 16px;
  cursor: pointer;
}

.card_metas_link > button:hover {
  text-decoration: underline;
}

/* RESPONSIVO */

@media (max-width: 1740px) {
  .card_metas {
    width: 1270px;
    box-sizing: initial;
    margin-top: 35px;
  }

  .card_metas_lista {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media (max-width: 1620px) {
  .card_metas {
    width: 1200px;
  }
}

@media (max-width: 1560px) {
  .card_metas {
    width: 1140px;
  }
}

@media (max-width: 1500px) {
  .card_metas {
    width: 1100px;
  }
}

@media (max-width: 1460px) {
  .card_metas {
    width: 1070px;
  }
}

@media (max-width: 1430px) {
  .card_metas {
    width: 1050px;
  }
}

@media (max-width: 1410px) {
  .card_metas {
    width: 1020px;
  }
}

@media (max-width: 1380px) {
  .card_metas {
    width: 1000px;
  }
}

@media (max-width: 1360px) {
  .card_metas {
    width: 970px;
  }
}

@media (max-width: 1330px) {
  .card_metas {
    width: 960px;
  }
}

@media (max-width: 1300px) {
  .card_metas {
    width: 940px;
  }
}

@media (max-width: 1280px) {
  .card_metas {
    width: 920px;
  }
}

@media (max-width: 1260px) {
  .card_metas {
    width: 1130px;
  }
}

@media (max-width: 1230px) {
  .card_metas {
    width: 1100px;
  }
}

@media (max-width: 1200px) {
  .card_metas {
    width: 1080px;
  }
}

@media (max-width: 1180px) {
  .card_metas {
    width: 1050px;
  }
}

@media (max-width: 1120px) {
  .card_metas {
    width: 1000px;
  }

}

@media (max-width: 1070px) {
  .card_metas {
    width: 950px;
  }
}

@media (max-width: 1020px) {
  .card_metas {
    width: 920px;
  }
}

@media (max-width: 990px) {
  .card_metas {
    width: 890px;
  }
}

@media (max-width: 950px) {
  .card_metas {
    width: 850px;
  }
}

@media (max-width: 910px) {
  .card_metas {
    width: 820px;
  }
}

@media (max-width: 880px) {
  .card_metas {
    width: 790px;
  }
}

@media (max-width: 850px) {
  .card_metas {
    width: 750px;
  }
}

@media (max-width: 800px) {
  .card_metas {
    width: 730px;
  }
}

@media (max-width: 775px) {
  .card_metas {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card_metas {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .card_metas {
    width: 630px;
  }
}

@media (max-width: 675px) {
  .card_metas {
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }
}

@media (max-width: 450px) {
  .card_metas {
  padding: 15px 0px 65px 0px;
}

.card_metas_titulo{
  margin-left: 15px;
}

.card_metas_link{
  margin-left: 15px;
}
}

@media (max-width: 430px) {
  .card_metas {
  padding: 15px 0px 65px 5px;
  }

  .card_metas_titulo{
  margin-left: 0px;
  }

  .card_metas_link{
    margin-left: 0px;
  }

}

@media (max-width: 390px) {
  .card_metas {
  padding: 15px 0px 65px 2px;
  }
}