.dashboard_cards_container {
  display: flex;
  align-items: stretch;
  gap: 50px;
  margin-top: 20px;
}

.dashboard_cards_pequenos{
  display: flex;
  gap: 50px;
}

.dashboard_cards_pequenos_graficos{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.dashboard_grafico {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 970px;
  padding: 15px 0px 65px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_grafico_titulo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.card_grafico_titulo > p {
  font-size: 18px;
}

.card_transacoes{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 390px;
  padding: 15px 0px 65px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_transacoes > div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.card_transacoes > div > p {
  font-size: 18px;
}

.card_transacoes > div > img {
  width: 35px;
  height: auto;
}

.card_transacoes_link > button {
  background-color: transparent;
  border: none;
  font-family: var(--fonte-principal);
  font-size: 16px;
  cursor: pointer;
}

.card_transacoes_link > button:hover {
  text-decoration: underline;
}

.card_metas {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  width: auto;
  align-self: flex-start;
  padding: 15px 0px 65px 15px;
  box-sizing: border-box;
  margin-top: 40px;
}

.card_metas_titulo{
  display: flex;
  align-items: center;
  gap: 7px;
}

.card_metas_titulo > p {
  font-size: 18px;
}

.div_sem_metas {
  display: flex;
  justify-content: start;
  width: 100%;
}

.sem-transacoes {
  color: #666;
  font-style: italic;
  margin: 10px 0;
}

.card_metas_lista {
  margin-top: 20px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.card_metas_link {
  margin-top: 15px;
}

.card_metas_link > button {
  background-color: transparent;
  border: none;
  font-family: var(--fonte-principal);
  font-size: 16px;
  cursor: pointer;
}

.card_metas_link > button:hover {
  text-decoration: underline;
}

/* RESPONSIVO */


@media (max-width: 1760px) {

  .dashboard_cards_container {
    gap: 30px;            /* espaço entre cards pequenos e transações */
  }

  .dashboard_cards_pequenos{
    gap: 50px;
  }

}

@media (max-width: 1740px) {

  .dashboard_cards_container {
    gap: 35px;
    flex-direction: column;
  }

  .dashboard_grafico {
    width: 1270px;
  }

  .dashboard_cards_pequenos{
    gap: 0px;
    justify-content: space-between;
  }

  .card_transacoes{
    width: 1270px;
    flex-direction: column;
    gap: 15px;
  }

  .card_metas {
    width: 1270px;
    box-sizing: initial;
    margin-top: 35px;
  }

  .card_metas_lista {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media (max-width: 1620px) {

  .dashboard_grafico {
    width: 1200px;
  }

  .card_transacoes{
    width: 1200px;
  }

  .card_metas {
    width: 1200px;
  }
}

@media (max-width: 1560px) {

  .dashboard_grafico {
    width: 1140px;
  }

  .card_transacoes{
    width: 1140px;
  }

  .card_metas {
    width: 1140px;
  }
}

@media (max-width: 1500px) {

  .dashboard_grafico {
    width: 1100px;
  }

  .card_transacoes{
    width: 1100px;
  }

  .card_metas {
    width: 1100px;
  }
}

@media (max-width: 1460px) {

  .dashboard_grafico {
    width: 1070px;
  }

  .card_transacoes{
    width: 1070px;
  }

  .card_metas {
    width: 1070px;
  }
}

@media (max-width: 1430px) {

  .dashboard_grafico {
    width: 1050px;
  }

  .card_transacoes{
    width: 1050px;
  }

  .card_metas {
    width: 1050px;
  }
}

@media (max-width: 1410px) {

  .dashboard_grafico {
    width: 1020px;
  }

  .card_transacoes{
    width: 1020px;
  }

  .card_metas {
    width: 1020px;
  }
}

@media (max-width: 1380px) {

  .dashboard_grafico {
    width: 1000px;
  }

  .card_transacoes{
    width: 1000px;
  }

  .card_metas {
    width: 1000px;
  }
}

@media (max-width: 1360px) {

  .dashboard_grafico {
    width: 970px;
  }

  .card_transacoes{
    width: 970px;
  }

  .card_metas {
    width: 970px;
  }
}

@media (max-width: 1330px) {

  .dashboard_grafico {
    width: 960px;
  }

  .card_transacoes{
    width: 960px;
  }

  .card_metas {
    width: 960px;
  }
}

@media (max-width: 1300px) {

  .dashboard_grafico {
    width: 940px;
  }

  .card_transacoes{
    width: 940px;
  }

  .card_metas {
    width: 940px;
  }
}

@media (max-width: 1280px) {

  .dashboard_grafico {
    width: 920px;
  }

  .card_transacoes{
    width: 920px;
  }

  .card_metas {
    width: 920px;
  }
}

@media (max-width: 1260px) {

  .dashboard_grafico {
    width: 1130px;
  }

  .card_transacoes{
    width: 1130px;
  }

  .card_metas {
    width: 1130px;
  }
}

@media (max-width: 1230px) {

  .dashboard_grafico {
    width: 1100px;
  }

  .card_transacoes{
    width: 1100px;
  }

  .card_metas {
    width: 1100px;
  }
}

@media (max-width: 1200px) {

  .dashboard_grafico {
    width: 1080px;
  }

  .card_transacoes{
    width: 1080px;
  }

  .card_metas {
    width: 1080px;
  }
}

@media (max-width: 1180px) {

  .dashboard_grafico {
    width: 1050px;
  }

  .card_transacoes{
    width: 1050px;
  }

  .card_metas {
    width: 1050px;
  }
}

@media (max-width: 1120px) {
  
  .dashboard_grafico {
    width: 1000px;
  }

  .card_transacoes{
    width: 1000px;
  }

  .card_metas {
    width: 1000px;
  }

}

@media (max-width: 1070px) {
  
  .dashboard_grafico {
    width: 950px;
  }

  .card_transacoes{
    width: 950px;
  }

  .card_metas {
    width: 950px;
  }
}

@media (max-width: 1020px) {
  
  .dashboard_grafico {
    width: 920px;
  }

  .card_transacoes{
    width: 920px;
  }

  .card_metas {
    width: 920px;
  }
}

@media (max-width: 990px) {
  
  .dashboard_grafico {
    width: 890px;
  }

  .card_transacoes{
    width: 890px;
  }

  .card_metas {
    width: 890px;
  }
}

@media (max-width: 950px) {

  .dashboard_cards_pequenos{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

    .dashboard_grafico {
    width: 850px;
  }

  .card_transacoes{
    width: 850px;
  }

  .card_metas {
    width: 850px;
  }
}

@media (max-width: 910px) {

  .dashboard_cards_pequenos{
    gap: 15px;
  }

    .dashboard_grafico {
    width: 820px;
  }

  .card_transacoes{
    width: 820px;
  }

  .card_metas {
    width: 820px;
  }
}

@media (max-width: 880px) {

  .dashboard_cards_pequenos{
    gap: 15px;
  }

    .dashboard_grafico {
    width: 790px;
  }

  .card_transacoes{
    width: 790px;
  }

  .card_metas {
    width: 790px;
  }
}

@media (max-width: 850px) {

  .dashboard_grafico {
    width: 750px;
  }

  .card_transacoes{
    width: 750px;
  }

  .card_metas {
    width: 750px;
  }
}

@media (max-width: 800px) {
  .dashboard_grafico {
    width: 730px;
  }

  .card_transacoes{
    width: 730px;
  }

  .card_metas {
    width: 730px;
  }
}

@media (max-width: 775px) {
  .dashboard_grafico {
    width: 700px;
  }

  .card_transacoes{
    width: 700px;
  }

  .card_metas {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .dashboard_grafico {
    width: 650px;
  }

  .card_transacoes{
    width: 650px;
  }

  .card_metas {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .dashboard_grafico {
    width: 630px;
  }

  .card_transacoes{
    width: 630px;
  }

  .card_metas {
    width: 630px;
  }
}

@media (max-width: 675px) {

  .dashboard_titulo {
    margin-left: 10px;
  }

  .dashboard_cards_pequenos{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .dashboard_cards_pequenos_graficos{
    display: inline;
  }

  .dashboard_cards_container{
    display: inline;
  }
  
  .dashboard_grafico {
    width: 100%;
    margin-top: 30px;
  }

  .card_transacoes{
    width: 100%;
    margin-top: 30px;
  }

  .card_transacoes > div {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 94%;
  }

  .card_metas {
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }
}

@media (max-width: 450px) {
  .card_metas {
  padding: 15px 0px 65px 0px;
}

.card_metas_titulo{
  margin-left: 15px;
}

.card_metas_link{
  margin-left: 15px;
}

  .card_transacoes > div {
    width: 98%;
  }
}

@media (max-width: 430px) {
  .dashboard_grafico {
  padding: 15px 0px 65px 5px;
  }

  .card_transacoes{
  padding: 15px 0px 65px 5px;
  }

  .card_metas {
  padding: 15px 0px 65px 5px;
  }

  .card_metas_titulo{
  margin-left: 0px;
  }

  .card_metas_link{
    margin-left: 0px;
  }

}

@media (max-width: 390px) {
  .dashboard_grafico {
  padding: 15px 0px 65px 2px;
  }

  .card_transacoes{
  padding: 15px 0px 65px 2px;
  }

  .card_metas {
  padding: 15px 0px 65px 2px;
  }
}