@media (max-width: 450px) {
    .card_meta_controle_financeiro {
        width: 380px !important;
    }
}

@media (max-width: 410px) {
    .card_meta_controle_financeiro {
        width: 350px !important;
    }
}

@media (max-width: 400px) {
    .card_meta_controle_financeiro {
        width: 320px !important;
    }
}