.dashboard_container {
  display: flex;
}

.dashboard_main {
  flex: 1;
  padding: 40px;
  background-color: #ECEFF1;
  height: 100vh;
  overflow-y: auto;
}

.dashboard_main > p {
  font-size: 16px;
  font-weight: 700;
}

.dashboard_cards_container {
  display: flex;        /* lado a lado */
  align-items: flex-start; /* garante altura independente */
  gap: 50px;            /* espaço entre cards pequenos e transações */
  margin-top: 20px;     /* se quiser espaçamento do título */
}

.dashboard_cards_pequenos{
  display: flex;
  gap: 50px;
}

.dashboard_cards_pequenos_graficos{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.dashboard_grafico {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 970px;
  padding: 15px 0px 65px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_grafico_titulo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.card_grafico_titulo > p {
  font-size: 18px;
}

.card_transacoes{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 390px;
  padding: 15px 0px 65px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_transacoes > div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.card_transacoes > div > p {
  font-size: 18px;
}

.card_transacoes > div > img {
  width: 35px;
  height: auto;
}

.card_transacoes > div > button {
  background-color: transparent;
  border: none;
  font-family: var(--fonte-principal);
  font-size: 16px;
  cursor: pointer;
}
