.card_tarefa {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* max-width: 330px;
    width: 100%; */
    width: 330px;
    padding: 15px 0px 35px 15px;
    
}

.card_tarefa > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card_tarefa_cabecalho {
    display: flex;
    align-items: center;
    gap: 7px;
}

.card_tarefa_cabecalho > img {
    width: 35px;
    height: auto;
}

.card_tarefa_cabecalho > h2 {
    font-size: 20px;
    font-weight: 500;
}

.card_tarefa_conteudo_descricao {
    font-size: 20px;
    font-weight: bold;
} 

.card_tarefa_conteudo_quantidade {
    font-size: 32px;
    font-weight: bold;
}