.dashboard_main_cadastro_metas{
  flex: 1;
  padding: 40px;
  background-color: #ECEFF1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard_main_cadastro_metas > p {
  font-weight: bold;
  color: #666;
}

.dashboard_main_cadastro_metas > p > span {
  color: #000000;
}

.cadastro_metas_container {
  background-color: white;
  width: 100%;
  max-width: 1485px;
  padding: 65px 35px 150px 35px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.cadastro_metas_form > .inputs_form {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}

.cadastro_metas_form > .inputs_form > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input_nome_meta,
.input_valor_meta,
.input_valor_atual_meta {
  width: 515px;
}

.input_data_limite {
  width: 500px;
}

.input_tipo{
  width: 280px;
}

.cadastro_metas_form > .inputs_form > div > label {
  font-size: 16px;
}

.cadastro_metas_form > .inputs_form > div > input,
.cadastro_metas_form > .inputs_form > div > select {
  background-color:#FAFAFA;
  border: 1px solid #E0E0E0;
  font-family: var(--fonte-principal);
  font-size: 14px;
  padding: 5px 2px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.cadastro_metas_form > .inputs_form > div > input:focus,
.cadastro_metas_form > .inputs_form > div > select:focus {
  outline: none;
  border-color: #e5e5e5;
  box-shadow: 0 0 0 2px #d1d5db;
}

.cadastro_metas_form > .botoes_form{
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.cadastro_metas_form > .botoes_form > button {
  background-color: #37474F;
  padding: 10px 0;
  width: 270px;
  font-size: 16px;
  color: white;
  border: none;
  font-family: var(--fonte-principal);
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease
}

.cadastro_metas_form > .botoes_form > button:hover {
  background-color: #455A64;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.container_mensagem_cadastro_metas {
  margin-top: 20px;
}

@media (max-width: 1810px) {
  .dashboard_main_cadastro_metas {
    padding: 40px 30px;
  }
}

@media (max-width: 940px) {
  .dashboard_main_cadastro_metas {
    padding: 40px 20px;
  }

  .cadastro_metas_container {
    padding: 65px 25px 150px 25px;
  }
}

@media (max-width: 900px) {
  .dashboard_main_cadastro_metas {
    padding: 40px 10px;
  }

  .cadastro_metas_container {
    padding: 65px 15px 150px 15px;
  }
}

@media (max-width: 825px) {
  .cadastro_metas_container {
    padding: 45px 15px 100px 15px;
  }
}

@media (max-width: 760px) {
  .dashboard_main_cadastro_metas > p {
    font-size: 15px;
  }

  .cadastro_metas_form > .inputs_form > div > label {
    font-size: 15px;
  }

  .cadastro_metas_form > .botoes_form{
    margin-top: 30px;
  }

  .cadastro_metas_form > .botoes_form > button {
    width: 250px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .dashboard_main_cadastro_metas{
    padding: 40px 0;
  }

  .cadastro_metas_container {
    width: 100%;
    max-width: 100%;
  }

  .dashboard_main_cadastro_metas > p {
    margin-left: 10px;
    font-size: 14px;
  }

  .cadastro_metas_form > .botoes_form {
    flex-direction: column;
    gap: 20px;
  }

  .container_mensagem_cadastro_metas {
    font-size: 15px;
  }

  .cadastro_metas_form > .botoes_form > button {
    width: 200px;
    font-size: 15px;
  }
}

@media (max-width: 460px) {
  .dashboard_main_cadastro_metas > p {
    font-size: 13px;
  }

  .cadastro_metas_form > .botoes_form > button {
    width: 190px;
    font-size: 15px;
    padding: 9px 0;
  }
}