@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo: #ECEFF1;
    --cor-principal: #37474F;

    --fonte-principal: "Montserrat", sans-serif;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}
