.dashboard_main_tarefas_kanban{
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard_main_tarefas_kanban > p {
  font-weight: bold;
  color: #000000;
}

.cards_tarefas_kanban {
    margin-top: 20px;
    display: flex;
    gap: 35px;
}

.colunas_tarefas_kanban {
    margin-top: 65px;
    display: flex;
    gap: 35px;
}

.coluna_tarefa {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* max-width: 330px;
    width: 100%; */
    width: 345px;
    height: 680px;

    display: flex;
    flex-direction: column;
}

.coluna_tarefa_cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    flex-shrink: 0; /* Evita encolher */
}

.coluna_tarefa_cabecalho > p {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.coluna_tarefa_cabecalho > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.coluna_tarefa_cabecalho > button > img {
    width: 35px;
    height: auto;
}

.coluna_tarefa_conteudo {
    flex: 1; /* Ocupa o resto do espaço disponível */
    overflow-y: auto;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.coluna_tarefa_conteudo::-webkit-scrollbar {
  width: 8px;              /* Largura da barra */
}

.coluna_tarefa_conteudo::-webkit-scrollbar-track {
  background: #f1f1f1;     /* Fundo da barra */
  border-radius: 2px;
}

.coluna_tarefa_conteudo::-webkit-scrollbar-thumb {
  background: #90A4AE;        /* Cor da barra */
  border-radius: 2px;
}

.coluna_tarefa_conteudo::-webkit-scrollbar-thumb:hover {
  background: #677379;        /* Cor ao passar o mouse */
}